.user-container {
  padding: 1rem;
  width: 100%;
}

.user-container-user-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.user-container-user-info-name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
