.add-project-btn {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-project-btn button {
  margin: 1rem;
}

.projects-list-container {
  /* width: 17vw; */
  min-width: 17rem;
  border-right: 1px solid gray;
}

.project-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.project-list-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.project-list-item-image {
  width: 3rem;
}

.project-list-scrollable {
  overflow-y: auto;
  height: calc(100vh - 64px - 68.5px - 16px);
}

.project-list-item-skeleton {
  display: flex;
  margin: 1rem;
}

.project-list-item-details-skeleton {
  width: calc(100% - 60px);
  padding-left: 1rem;
}
