.users-list {
  padding: 1rem;
  width: 100%;
}

.users-list-container-user {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 1rem;
}

.users-list-container-user-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

.users-list-link {
  text-decoration: none;
}

.users-list-user-name {
  margin-left: 1rem !important;
}

.user-list-container {
  margin-top: 1rem;
}
