.users-list-container {
  padding: 1rem;
  width: 100%;
}

.users-list-container-user {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.users-list-container-user-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
