.add-btn-container {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn-container button {
  margin: 1rem;
}

.issues-list-container {
  /* width: 40vw; */
  min-width: 33rem;
  border-right: 1px solid gray;
}

.issue-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.issue-list-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.issue-list-item-content-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
