.add-btn-container {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn-container button {
  margin: 1rem;
}

.issues-list-container {
  /* width: 40vw; */
  min-width: 33rem;
  border-right: 1px solid rgb(218 215 215);
}

.issue-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.issue-list-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
}

.issue-list-item-content-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.issue-list-scrollable {
  overflow-y: auto;
  height: calc(100vh - 64px - 68.5px - 16px);
}

.issue-list-skeleton {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.issue-list-detail-skeleton {
  width: 100%;
  padding-left: 1rem;
}

.issue-list-link {
  text-decoration: none;
}

.issue-list-item-content-reporter {
  color: "#6C6F72";
}

.issue-list-item-tag {
  margin-right: 1rem;
}

.empty-issue-list {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.empty-issue-list-image {
  width: 50%;
  margin-bottom: 1.5rem;
}
