.project-container {
  padding: 1rem;
  width: 100%;
}

.project-container-reporter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.project-container-info-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-container-info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.project-container-comment-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-container-comment-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.project-container-issue-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.project-container-issue-stats-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-creator-link {
  text-decoration: none;
}

.project-members-link {
  text-decoration: none;
}
