.issue-container {
  padding: 1rem;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

.issue-container-reporter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.issue-container-info-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.issue-container-info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.issue-container-comment-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.issue-container-comment-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.issue-container-assignee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
